$white: #ffffff;
$off-white: #fafafa;
$black: #000000;
$black-back-transparent: rgba(0, 0, 0, 0.8);
$browser-highlight: #51a7e8;
$border-gray: #ececec;
$dark-border-gray: #d8d8d8;
$error: #ff3300;

$gray: #606060;
$text-gray: #444444;
$lightest-gray: #c1c9d4;
$light-gray: #767676;
$highlight-gray: #effbfb;

$teal-light: #ace8ea;
$teal: #00babe;
$text-teal: #007b80;

$salmon: #e55f74;

$active-blue: #178acb;
$lighter-blue: #4e6486;
$blue: #455c7f;
$dark-blue: #304a71;
$darker-blue: #193661;
