$font-regular: 'HelveticaNowText-Regular', helvetica, arial, sans-serif;
$font-italic: 'HelveticaNowText-It', helvetica, arial, sans-serif;
$font-bold: 'HelveticaNowText-Bold', helvetica, arial, sans-serif;
$font-medium: 'HelveticaNowText-Medium', helvetica, arial, sans-serif;

/* stylelint-disable */
$small-font-size: 10px;
$default-font-size: 12px;
$large-font-size: 14px;
$larger-font-size: 16px;

$page-header-font: 24px;
$sub-header-font-size: 18px;

$menu-only-font-size: 13px;
/* stylelint-enable */
