@import 'colors';

// Vertical and Horizontal Cadence
$half-spacing-unit: 0.25rem;
$spacing-unit: 0.5rem;
$spacing-unit-x2: 1rem;
$spacing-unit-x3: 1.5rem;
$spacing-unit-x4: 2rem;
$spacing-unit-x5: 2.5rem;
$spacing-unit-x6: 3rem;
$spacing-unit-x7: 3.5rem;
$spacing-unit-x8: 4rem;
$spacing-unit-x9: 4.5rem;
$spacing-unit-x10: 5rem;
$spacing-unit-x11: 5.5rem;
$spacing-unit-x12: 6rem;
$spacing-unit-x13: 6.5rem;
$spacing-unit-x14: 7rem;
$spacing-unit-x15: 7.5rem;
$spacing-unit-x16: 8rem;
$spacing-unit-x17: 8.5rem;
$spacing-unit-x18: 9rem;
$spacing-unit-x19: 9.5rem;
$spacing-unit-x20: 10rem;

// standard borders
$standard-border-width: 1px; /* stylelint-disable-line */
$standard-border: $standard-border-width solid $border-gray;

// box shadow
$box-shadow: 0 0.41rem 1.25rem 0 rgba(24, 45, 100, 0.06);

// Specific global components
$top-bar-height: 5rem;
