<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TITLE</title>
    <!-- <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/favicon-32x32.png" sizes="32x32" /> -->
    <!-- Android -->
    <!-- <link rel="shortcut icon" sizes="192x192" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/android-chrome-192x192.png" />
    <link rel="shortcut icon" sizes="512x512" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/android-chrome-512x512.png" /> -->
    <!-- iOS -->
    <!-- <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.publicPath %>/static/favicon/apple-touch-icon.png" sizes="180x180" /> -->

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= htmlWebpackPlugin.options.publicPath %>/static/styles/MyFontsWebfontsKit.css"
    />
  </head>
  <body>
    <div id="root" class="root"></div>
    <!-- <div id="modal-root" class="modal-root">
      <div class="modal-root__background"></div>
    </div> -->
  </body>
</html>
